In [5]:

#密碼不能上傳GITHUT 故另外匯入

import password as pw
import psycopg2

try:
    conn = psycopg2.connect(database="", user="", 
                            password="", host="", 
                            port="5432")
except psycopg2.Error as e:
    print('error')
    print(e)
else:
    print('連線成功')
    print(conn)

連線成功
<connection object at 0x0000029543B60D00; dsn: 'user=mercury password=xxx dbname=maindb_5qg1 host=dpg-cl5g6is72pts73elln20-a.singapore-postgres.render.com port=5432', closed: 0>

In [17]:
import password as pw
import psycopg2

try:
    conn = psycopg2.connect(database=pw.DATABASE, 
                            user=pw.USER, 
                            password=pw.PASSWORD, host=pw.HOST,
                            port="5432")
except psycopg2.Error as e:
    print('error')
    print(e)
else:
    print('連線成功')
    print(conn)

連線成功
<connection object at 0x0000029543B62790; dsn: 'user=mercury password=xxx dbname=maindb_5qg1 host=dpg-cl5g6is72pts73elln20-a.singapore-postgres.render.com port=5432', closed: 0>

In [18]:
sql = "select * from 台北市youbike"
with conn.cursor() as cursor:
    cursor.execute(sql)
    records = cursor.fetchall()      #使用with資料執行完cursor.fetchall()即關閉
print (records)

[(1, 'YouBike2.0_一壽橋', '2023-11-08 10:08:17', '文山區', '樟新街64號前方', 16, 0, 14)]

In [19]:
sql = '''
INSERT INTO 台北市youbike(站點名稱,行政區,更新時間,地址,總車輛數,可借,可還)
VALUES('YouBike2.0_一壽橋','文山區','2023-11-08 10:43:18','樟新街64號前方',100,100,15)
'''
with conn.cursor() as cursor:
    cursor.execute(sql)
    conn.commit()

sql1 = '''
select * 
from 台北市youbike
where 站點名稱 = 'YouBike2.0_一壽橋'
'''

with conn.cursor() as cursor:
    cursor.execute(sql1)
    records = cursor.fetchall()

print(records)

[(1, 'YouBike2.0_一壽橋', '2023-11-08 10:08:17', '文山區', '樟新街64號前方', 16, 0, 14), (3, 'YouBike2.0_一壽橋', '文山區', '2023-11-08 10:43:18', '樟新街64號前方', 100, 100, 15)]